<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Length of sepal(cm) :  <input type="text", name='a', placeholder="enter 1"> <br><br>
               Width of sepal(cm) :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Length of petal(cm) :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            Width of petal(cm) : <input type="text", name='d', placeholder="enter 4"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        
    </center>

    </body>
</html>
